[user]
	email = fukkatsuso.git+github@gmail.com
	name = Fukkatsuso

[url "github:"]
	InsteadOf = https://github.com
	InsteadOf = git@github.com:

[includeIf "gitdir:~/mydev/intern/AIoT/"]
	path = ~/mydev/dotfiles/.gitconfig-work
